services:
   - type: web
     name: otakomi-backend
     runtime: node
     plan: free
     buildCommand: npm ci && npx prisma generate && npx prisma migrate deploy
     startCommand: npm start
     envVars:
        - key: NODE_ENV
          value: production
        - key: DATABASE_URL
          value: postgresql://neondb_owner:npg_YjixZLn2kWE4@ep-billowing-shape-a15hjn0l-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
        - key: JWT_SECRET
          generateValue: true
        - key: PORT
          value: 3000
        - key: SENTIMENT_SERVICE_URL
          value: https://otakomi-sentiment-service.onrender.com
        - key: ALLOWED_ORIGINS
          value: https://otakomi.netlify.app,http://localhost:3001,http://localhost:3000
        - key: RATE_LIMIT_WINDOW
          value: 15
        - key: RATE_LIMIT_MAX
          value: 100
        - key: CLOUDINARY_CLOUD_NAME
          value: tunakite03
        - key: CLOUDINARY_API_KEY
          value: 689958954267986
        - key: CLOUDINARY_API_SECRET
          fromEnvName: CLOUDINARY_API_SECRET

   - type: web
     name: otakomi-sentiment-service
     runtime: python
     plan: free
     buildCommand: pip install -r sentiment-service/requirements.txt
     startCommand: cd sentiment-service && python -m uvicorn main:app --host 0.0.0.0 --port 10000
     healthCheckPath: /health
     envVars:
        - key: HOST
          value: 0.0.0.0
        - key: PORT
          value: 10000
